-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: controles_tech_dgsr
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ct_anomalie`
--

DROP TABLE IF EXISTS `ct_anomalie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_anomalie` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_anomalie_type_id` int DEFAULT NULL,
  `anml_libelle` varchar(100) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `anml_code` varchar(10) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_E4809465F16CE4D9E1729F0B1135665A` (`ct_anomalie_type_id`,`anml_libelle`,`anml_code`),
  KEY `IDX_E4809465F16CE4D9` (`ct_anomalie_type_id`),
  CONSTRAINT `FK_E4809465F16CE4D9` FOREIGN KEY (`ct_anomalie_type_id`) REFERENCES `ct_anomalie_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=348 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_anomalie`
--

LOCK TABLES `ct_anomalie` WRITE;
/*!40000 ALTER TABLE `ct_anomalie` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_anomalie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_anomalie_type`
--

DROP TABLE IF EXISTS `ct_anomalie_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_anomalie_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `atp_libelle` varchar(45) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_692C84944060276E` (`atp_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_anomalie_type`
--

LOCK TABLES `ct_anomalie_type` WRITE;
/*!40000 ALTER TABLE `ct_anomalie_type` DISABLE KEYS */;
INSERT INTO `ct_anomalie_type` VALUES (1,'ACCESSOIRES'),(11,'CARROSSERIE'),(12,'CHASSIS'),(2,'DIRECTION'),(3,'EN MARGES VEHICULE APTE'),(4,'FREINAGE'),(5,'MOTEUR'),(6,'PAPIER'),(7,'PNEUMATIQUE'),(8,'SIGNALISATION'),(9,'SUSPENSION'),(10,'TRANSMISSION');
/*!40000 ALTER TABLE `ct_anomalie_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_arrete_prix`
--

DROP TABLE IF EXISTS `ct_arrete_prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_arrete_prix` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `art_numero` varchar(124) COLLATE utf8mb3_unicode_ci NOT NULL,
  `art_date` date DEFAULT NULL,
  `art_date_applic` date DEFAULT NULL,
  `art_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `art_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_1CEB5E02BAE5AA62` (`art_numero`),
  KEY `IDX_1CEB5E02A76ED395` (`user_id`),
  CONSTRAINT `FK_1CEB5E02A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_arrete_prix`
--

LOCK TABLES `ct_arrete_prix` WRITE;
/*!40000 ALTER TABLE `ct_arrete_prix` DISABLE KEYS */;
INSERT INTO `ct_arrete_prix` VALUES (1,NULL,'Arr├¬t├® Interminist├®riel N┬░ 040/2017','2017-01-03','2017-01-01',NULL,NULL),(3,NULL,'Arr├¬t├® Interminist├®riel N┬░ 2023/2023','2023-05-12','2023-06-01',NULL,NULL);
/*!40000 ALTER TABLE `ct_arrete_prix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_bordereau`
--

DROP TABLE IF EXISTS `ct_bordereau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_bordereau` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_centre_id` int DEFAULT NULL,
  `ct_imprime_tech_id` int DEFAULT NULL,
  `ct_expression_besoin_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `be_numero` varchar(124) COLLATE utf8mb3_unicode_ci NOT NULL,
  `be_debut_numero` int DEFAULT NULL,
  `be_fin_numero` int DEFAULT NULL,
  `be_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `be_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `be_date_edit` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_334055EC82C8474E2ADBF4F29D92CA30C7018D464231334F` (`ct_centre_id`,`ct_imprime_tech_id`,`be_numero`,`be_debut_numero`,`be_fin_numero`),
  KEY `IDX_334055EC82C8474E` (`ct_centre_id`),
  KEY `IDX_334055EC2ADBF4F2` (`ct_imprime_tech_id`),
  KEY `IDX_334055EC8B12AEE` (`ct_expression_besoin_id`),
  KEY `IDX_334055ECA76ED395` (`user_id`),
  CONSTRAINT `FK_334055EC2ADBF4F2` FOREIGN KEY (`ct_imprime_tech_id`) REFERENCES `ct_imprime_tech` (`id`),
  CONSTRAINT `FK_334055EC82C8474E` FOREIGN KEY (`ct_centre_id`) REFERENCES `ct_centre` (`id`),
  CONSTRAINT `FK_334055EC8B12AEE` FOREIGN KEY (`ct_expression_besoin_id`) REFERENCES `ct_expression_besoin` (`id`),
  CONSTRAINT `FK_334055ECA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_bordereau`
--

LOCK TABLES `ct_bordereau` WRITE;
/*!40000 ALTER TABLE `ct_bordereau` DISABLE KEYS */;
INSERT INTO `ct_bordereau` VALUES (3,3,1,3,4,'N┬░ 001-DGSR/AC/IT/23',1001,1500,'2023-06-01 12:53:03',NULL,'2023-06-01'),(4,3,2,3,4,'N┬░ 001-DGSR/AC/IT/23',1001,1500,'2023-06-01 12:56:40',NULL,'2023-06-01');
/*!40000 ALTER TABLE `ct_bordereau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_carrosserie`
--

DROP TABLE IF EXISTS `ct_carrosserie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_carrosserie` (
  `id` int NOT NULL AUTO_INCREMENT,
  `crs_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_carrosserie`
--

LOCK TABLES `ct_carrosserie` WRITE;
/*!40000 ALTER TABLE `ct_carrosserie` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_carrosserie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_centre`
--

DROP TABLE IF EXISTS `ct_centre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_centre` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_province_id` int DEFAULT NULL,
  `ctr_nom` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `ctr_code` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `ctr_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `ctr_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_902E42D34D2E62D` (`ctr_nom`),
  KEY `IDX_902E42D9764A0FC` (`ct_province_id`),
  CONSTRAINT `FK_902E42D9764A0FC` FOREIGN KEY (`ct_province_id`) REFERENCES `ct_province` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_centre`
--

LOCK TABLES `ct_centre` WRITE;
/*!40000 ALTER TABLE `ct_centre` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_centre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_const_av_ded_type`
--

DROP TABLE IF EXISTS `ct_const_av_ded_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_const_av_ded_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cad_tp_libelle` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_28CF9E2E88CD7101` (`cad_tp_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_const_av_ded_type`
--

LOCK TABLES `ct_const_av_ded_type` WRITE;
/*!40000 ALTER TABLE `ct_const_av_ded_type` DISABLE KEYS */;
INSERT INTO `ct_const_av_ded_type` VALUES (1,'Carte grise'),(2,'Corps du vehicule'),(3,'Notice descriptive');
/*!40000 ALTER TABLE `ct_const_av_ded_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_droit_ptac`
--

DROP TABLE IF EXISTS `ct_droit_ptac`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_droit_ptac` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_genre_categorie_id` int DEFAULT NULL,
  `ct_type_droit_ptac_id` int DEFAULT NULL,
  `ct_arrete_prix_id` int DEFAULT NULL,
  `dp_poids_min` double DEFAULT NULL,
  `dp_poids_max` double DEFAULT NULL,
  `dp_droit` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_DB918ADA76255A6812DA95297CFDF4ACE1B96ABFDDB455E6` (`ct_arrete_prix_id`,`ct_genre_categorie_id`,`ct_type_droit_ptac_id`,`dp_poids_min`,`dp_poids_max`),
  KEY `IDX_DB918ADA12DA9529` (`ct_genre_categorie_id`),
  KEY `IDX_DB918ADA7CFDF4AC` (`ct_type_droit_ptac_id`),
  KEY `IDX_DB918ADA76255A68` (`ct_arrete_prix_id`),
  CONSTRAINT `FK_DB918ADA12DA9529` FOREIGN KEY (`ct_genre_categorie_id`) REFERENCES `ct_genre_categorie` (`id`),
  CONSTRAINT `FK_DB918ADA76255A68` FOREIGN KEY (`ct_arrete_prix_id`) REFERENCES `ct_arrete_prix` (`id`),
  CONSTRAINT `FK_DB918ADA7CFDF4AC` FOREIGN KEY (`ct_type_droit_ptac_id`) REFERENCES `ct_type_droit_ptac` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_droit_ptac`
--

LOCK TABLES `ct_droit_ptac` WRITE;
/*!40000 ALTER TABLE `ct_droit_ptac` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_droit_ptac` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_expression_besoin`
--

DROP TABLE IF EXISTS `ct_expression_besoin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_expression_besoin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_centre_id` int DEFAULT NULL,
  `ct_imprime_tech_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `edb_numero` varchar(32) COLLATE utf8mb3_unicode_ci NOT NULL,
  `edb_date_edit` date NOT NULL,
  `edb_qte_demander` int NOT NULL,
  `edb_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `edb_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_F32A351F82C8474E2ADBF4F2D600094F` (`ct_centre_id`,`ct_imprime_tech_id`,`edb_numero`),
  KEY `IDX_F32A351F82C8474E` (`ct_centre_id`),
  KEY `IDX_F32A351F2ADBF4F2` (`ct_imprime_tech_id`),
  KEY `IDX_F32A351FA76ED395` (`user_id`),
  CONSTRAINT `FK_F32A351F2ADBF4F2` FOREIGN KEY (`ct_imprime_tech_id`) REFERENCES `ct_imprime_tech` (`id`),
  CONSTRAINT `FK_F32A351F82C8474E` FOREIGN KEY (`ct_centre_id`) REFERENCES `ct_centre` (`id`),
  CONSTRAINT `FK_F32A351FA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_expression_besoin`
--

LOCK TABLES `ct_expression_besoin` WRITE;
/*!40000 ALTER TABLE `ct_expression_besoin` DISABLE KEYS */;
INSERT INTO `ct_expression_besoin` VALUES (1,4,1,13,'149','2023-05-23',1000,'2023-05-23 08:47:17',NULL),(3,3,1,4,'N┬░ 069-CENSERO/BGL/23','2023-06-01',1000,'2023-06-01 05:03:47','2023-06-01 08:08:07'),(6,3,8,4,'N┬░ 069-CENSERO/BGL/23','2023-06-01',10,'2023-06-01 05:14:59','2023-06-01 08:08:01'),(7,3,2,4,'N┬░ 069-CENSERO/BGL/23','2023-06-01',100,'2023-06-01 05:27:20','2023-06-01 08:07:54'),(8,3,9,4,'N┬░ 069-CENSERO/BGL/23','2023-06-01',500,'2023-06-01 12:24:40','2023-06-01 07:27:11');
/*!40000 ALTER TABLE `ct_expression_besoin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_genre`
--

DROP TABLE IF EXISTS `ct_genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_genre` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_genre_categorie_id` int DEFAULT NULL,
  `gr_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `gr_code` varchar(50) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_9BCBF2CE12DA9529BB58A5617985B641` (`ct_genre_categorie_id`,`gr_libelle`,`gr_code`),
  KEY `IDX_9BCBF2CE12DA9529` (`ct_genre_categorie_id`),
  CONSTRAINT `FK_9BCBF2CE12DA9529` FOREIGN KEY (`ct_genre_categorie_id`) REFERENCES `ct_genre_categorie` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_genre`
--

LOCK TABLES `ct_genre` WRITE;
/*!40000 ALTER TABLE `ct_genre` DISABLE KEYS */;
INSERT INTO `ct_genre` VALUES (13,1,'CAM','CAM'),(6,1,'CTTE','CTTE'),(5,1,'TCP','TCP'),(9,1,'VP','VP'),(14,2,'TRR','TRR'),(1,3,'CYCLO','CYCLO'),(2,3,'MOTO','MOTO'),(3,3,'QUAD','QUAD'),(7,3,'TRICL','TRICL'),(8,3,'VELO','VELO'),(10,4,'VTST','VTST'),(20,5,'VASP','VASP'),(12,5,'VTSU','VTSU'),(15,6,'TA','TA'),(16,7,'REA','REA'),(11,7,'REM','REM'),(17,7,'SREA','SREA'),(4,7,'SREM','SREM'),(18,9,'TMT','TMT'),(19,10,'CAM ADM','CAM ADM');
/*!40000 ALTER TABLE `ct_genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_genre_categorie`
--

DROP TABLE IF EXISTS `ct_genre_categorie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_genre_categorie` (
  `id` int NOT NULL AUTO_INCREMENT,
  `gc_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `gc_is_calculable` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_1094DB80E3F353` (`gc_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_genre_categorie`
--

LOCK TABLES `ct_genre_categorie` WRITE;
/*!40000 ALTER TABLE `ct_genre_categorie` DISABLE KEYS */;
INSERT INTO `ct_genre_categorie` VALUES (1,'V├ëHICULE ├Ç MOTEUR',1),(2,'TRACTEURS ROUTIERS',1),(3,'CYCLOMOTEUR',0),(4,'V├ëHICULES TR├êS SP├ëCIAUX DE TRANSPORT',0),(5,'VEHICULES TRES SPECIAUX POUR USAGES DIVERS',1),(6,'TRACTEURS AGRICOLES',0),(7,'REMORQUE OU SEMI-REMORQUE - REMORQUE AGRICOLES OU SEMI-REMORQUE AGRICOLES',1),(8,'VASP',0),(9,'TRICYCLE',0),(10,'V├ëHICULE ADMINISTRATEUR',0);
/*!40000 ALTER TABLE `ct_genre_categorie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_imprime_tech`
--

DROP TABLE IF EXISTS `ct_imprime_tech`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_imprime_tech` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `nom_imprime_tech` varchar(128) COLLATE utf8mb3_unicode_ci NOT NULL,
  `unite_imprime_tech` varchar(64) COLLATE utf8mb3_unicode_ci NOT NULL,
  `abrev_imprime_tech` varchar(64) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `prtt_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `prtt_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_3F49AE4290F3F7145036F6C9BB935DB5` (`nom_imprime_tech`,`unite_imprime_tech`,`abrev_imprime_tech`),
  KEY `IDX_3F49AE42A76ED395` (`user_id`),
  CONSTRAINT `FK_3F49AE42A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_imprime_tech`
--

LOCK TABLES `ct_imprime_tech` WRITE;
/*!40000 ALTER TABLE `ct_imprime_tech` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_imprime_tech` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_marque`
--

DROP TABLE IF EXISTS `ct_marque`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_marque` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mrq_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_95CD9F96501FD1AD` (`mrq_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=810 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_marque`
--

LOCK TABLES `ct_marque` WRITE;
/*!40000 ALTER TABLE `ct_marque` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_marque` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_motif`
--

DROP TABLE IF EXISTS `ct_motif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_motif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mtf_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `mtf_is_calculable` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_9F48B68D95A08E52` (`mtf_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_motif`
--

LOCK TABLES `ct_motif` WRITE;
/*!40000 ALTER TABLE `ct_motif` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_motif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_motif_tarif`
--

DROP TABLE IF EXISTS `ct_motif_tarif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_motif_tarif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_motif_id` int DEFAULT NULL,
  `ct_arrete_prix_id` int DEFAULT NULL,
  `mtf_trf_prix` double DEFAULT NULL,
  `mtf_trf_date` varchar(4) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_110F10F876255A6845348DE0` (`ct_arrete_prix_id`,`ct_motif_id`),
  KEY `IDX_110F10F845348DE0` (`ct_motif_id`),
  KEY `IDX_110F10F876255A68` (`ct_arrete_prix_id`),
  CONSTRAINT `FK_110F10F845348DE0` FOREIGN KEY (`ct_motif_id`) REFERENCES `ct_motif` (`id`),
  CONSTRAINT `FK_110F10F876255A68` FOREIGN KEY (`ct_arrete_prix_id`) REFERENCES `ct_arrete_prix` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_motif_tarif`
--

LOCK TABLES `ct_motif_tarif` WRITE;
/*!40000 ALTER TABLE `ct_motif_tarif` DISABLE KEYS */;
INSERT INTO `ct_motif_tarif` VALUES (2,3,1,15000,'2017'),(4,5,1,75000,'2017'),(5,6,1,45000,'2017'),(6,7,1,45000,'2017'),(8,9,1,188000,'2017'),(9,10,1,45000,'2017'),(10,11,1,35000,'2017'),(11,12,1,58500,'2017'),(12,14,1,60000,'2017'),(17,20,1,113000,'2017'),(18,22,1,45000,'2017'),(19,21,1,35000,'2017');
/*!40000 ALTER TABLE `ct_motif_tarif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_proces_verbal`
--

DROP TABLE IF EXISTS `ct_proces_verbal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_proces_verbal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_arrete_prix_id` int DEFAULT NULL,
  `pv_type` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `pv_tarif` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_556CD10D76255A68BBA631A6` (`ct_arrete_prix_id`,`pv_type`),
  KEY `IDX_556CD10D76255A68` (`ct_arrete_prix_id`),
  CONSTRAINT `FK_556CD10D76255A68` FOREIGN KEY (`ct_arrete_prix_id`) REFERENCES `ct_arrete_prix` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_proces_verbal`
--

LOCK TABLES `ct_proces_verbal` WRITE;
/*!40000 ALTER TABLE `ct_proces_verbal` DISABLE KEYS */;
INSERT INTO `ct_proces_verbal` VALUES (1,1,'VT_APTE',2000),(2,1,'VT_INAPTE',4000),(3,1,'VT_DOM',2000),(4,1,'RT_ISOLE',4000),(5,1,'RT_TYPE',2000),(6,1,'CAD',2000),(7,1,'VT_DOM_INAPTE',4000);
/*!40000 ALTER TABLE `ct_proces_verbal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_province`
--

DROP TABLE IF EXISTS `ct_province`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_province` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prv_nom` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `prv_code` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `prv_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `prv_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_DF00E1F2413D25A3` (`prv_nom`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_province`
--

LOCK TABLES `ct_province` WRITE;
/*!40000 ALTER TABLE `ct_province` DISABLE KEYS */;
INSERT INTO `ct_province` VALUES (2,'ANTSIRANANA','ANA','2017-10-13 14:54:20','2017-11-13 07:30:58'),(3,'FIANARANTSOA','FNR','2017-10-13 14:54:59','2017-11-13 07:30:49'),(5,'TOAMASINA','TNA','2017-10-13 15:21:06','2017-11-13 07:30:38'),(6,'ANTANANARIVO','ANT','2017-10-16 09:38:43','2017-10-18 08:23:54'),(7,'TOLIARA','TLR','2017-10-16 09:45:44','2017-11-13 07:30:25'),(8,'MAHAJANGA','MGA','2017-10-16 09:46:05','2017-11-13 07:30:13');
/*!40000 ALTER TABLE `ct_province` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_role`
--

DROP TABLE IF EXISTS `ct_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_role` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(64) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_role`
--

LOCK TABLES `ct_role` WRITE;
/*!40000 ALTER TABLE `ct_role` DISABLE KEYS */;
INSERT INTO `ct_role` VALUES (1,'Superadmin'),(2,'Admin'),(3,'Verificateur'),(4,'Reception'),(5,'Visite'),(6,'Staff'),(7,'Approvisionnement');
/*!40000 ALTER TABLE `ct_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_source_energie`
--

DROP TABLE IF EXISTS `ct_source_energie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_source_energie` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sre_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_82353E095DB32D1D` (`sre_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_source_energie`
--

LOCK TABLES `ct_source_energie` WRITE;
/*!40000 ALTER TABLE `ct_source_energie` DISABLE KEYS */;
INSERT INTO `ct_source_energie` VALUES (6,'-'),(1,'BIOCARBURANT A GAZ'),(3,'ELECTRIQUE'),(4,'ESSENCE'),(5,'GASOIL'),(2,'HYBRIDE');
/*!40000 ALTER TABLE `ct_source_energie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_type_droit_ptac`
--

DROP TABLE IF EXISTS `ct_type_droit_ptac`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_type_droit_ptac` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tp_dp_libelle` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_B9D5C8882726A614` (`tp_dp_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_type_droit_ptac`
--

LOCK TABLES `ct_type_droit_ptac` WRITE;
/*!40000 ALTER TABLE `ct_type_droit_ptac` DISABLE KEYS */;
INSERT INTO `ct_type_droit_ptac` VALUES (2,'Constatation'),(1,'R├®ception');
/*!40000 ALTER TABLE `ct_type_droit_ptac` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_type_reception`
--

DROP TABLE IF EXISTS `ct_type_reception`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_type_reception` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tprcp_libelle` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_D7D98FE88F27FBD` (`tprcp_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_type_reception`
--

LOCK TABLES `ct_type_reception` WRITE;
/*!40000 ALTER TABLE `ct_type_reception` DISABLE KEYS */;
INSERT INTO `ct_type_reception` VALUES (2,'Isole'),(1,'Par type');
/*!40000 ALTER TABLE `ct_type_reception` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_type_visite`
--

DROP TABLE IF EXISTS `ct_type_visite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_type_visite` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tpv_libelle` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_ED695635E5309617` (`tpv_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_type_visite`
--

LOCK TABLES `ct_type_visite` WRITE;
/*!40000 ALTER TABLE `ct_type_visite` DISABLE KEYS */;
INSERT INTO `ct_type_visite` VALUES (2,'A domicile'),(1,'Sur site');
/*!40000 ALTER TABLE `ct_type_visite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_usage`
--

DROP TABLE IF EXISTS `ct_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_usage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usg_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `usg_validite` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `usg_created` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `usg_updated` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_usage`
--

LOCK TABLES `ct_usage` WRITE;
/*!40000 ALTER TABLE `ct_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_usage_tarif`
--

DROP TABLE IF EXISTS `ct_usage_tarif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_usage_tarif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_usage_id` int DEFAULT NULL,
  `ct_type_visite_id` int DEFAULT NULL,
  `ct_arrete_prix_id` int DEFAULT NULL,
  `usg_trf_annee` varchar(4) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `usg_trf_prix` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_FA9D5B8176255A68B48AD3639C6EC188` (`ct_arrete_prix_id`,`ct_usage_id`,`ct_type_visite_id`),
  KEY `IDX_FA9D5B81B48AD363` (`ct_usage_id`),
  KEY `IDX_FA9D5B819C6EC188` (`ct_type_visite_id`),
  KEY `IDX_FA9D5B8176255A68` (`ct_arrete_prix_id`),
  CONSTRAINT `FK_FA9D5B8176255A68` FOREIGN KEY (`ct_arrete_prix_id`) REFERENCES `ct_arrete_prix` (`id`),
  CONSTRAINT `FK_FA9D5B819C6EC188` FOREIGN KEY (`ct_type_visite_id`) REFERENCES `ct_type_visite` (`id`),
  CONSTRAINT `FK_FA9D5B81B48AD363` FOREIGN KEY (`ct_usage_id`) REFERENCES `ct_usage` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_usage_tarif`
--

LOCK TABLES `ct_usage_tarif` WRITE;
/*!40000 ALTER TABLE `ct_usage_tarif` DISABLE KEYS */;
/*!40000 ALTER TABLE `ct_usage_tarif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_utilisation`
--

DROP TABLE IF EXISTS `ct_utilisation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_utilisation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ut_libelle` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_CE088DF5EB198D3E` (`ut_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_utilisation`
--

LOCK TABLES `ct_utilisation` WRITE;
/*!40000 ALTER TABLE `ct_utilisation` DISABLE KEYS */;
INSERT INTO `ct_utilisation` VALUES (1,'Administratif'),(2,'Particulier');
/*!40000 ALTER TABLE `ct_utilisation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_visite_extra`
--

DROP TABLE IF EXISTS `ct_visite_extra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_visite_extra` (
  `id` int NOT NULL AUTO_INCREMENT,
  `vste_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_D3A8CBD88B880ECD` (`vste_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_visite_extra`
--

LOCK TABLES `ct_visite_extra` WRITE;
/*!40000 ALTER TABLE `ct_visite_extra` DISABLE KEYS */;
INSERT INTO `ct_visite_extra` VALUES (1,'Carnet'),(2,'Carte');
/*!40000 ALTER TABLE `ct_visite_extra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_visite_extra_tarif`
--

DROP TABLE IF EXISTS `ct_visite_extra_tarif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_visite_extra_tarif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ct_arrete_prix_id` int DEFAULT NULL,
  `ct_visite_extra_id` int DEFAULT NULL,
  `vet_annee` varchar(4) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `vet_prix` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_E3F1985E76255A6815D88434` (`ct_arrete_prix_id`,`ct_visite_extra_id`),
  KEY `IDX_E3F1985E76255A68` (`ct_arrete_prix_id`),
  KEY `IDX_E3F1985E15D88434` (`ct_visite_extra_id`),
  CONSTRAINT `FK_E3F1985E15D88434` FOREIGN KEY (`ct_visite_extra_id`) REFERENCES `ct_visite_extra` (`id`),
  CONSTRAINT `FK_E3F1985E76255A68` FOREIGN KEY (`ct_arrete_prix_id`) REFERENCES `ct_arrete_prix` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_visite_extra_tarif`
--

LOCK TABLES `ct_visite_extra_tarif` WRITE;
/*!40000 ALTER TABLE `ct_visite_extra_tarif` DISABLE KEYS */;
INSERT INTO `ct_visite_extra_tarif` VALUES (1,1,1,'2017',6000),(2,1,2,'2017',2000);
/*!40000 ALTER TABLE `ct_visite_extra_tarif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ct_zone_deserte`
--

DROP TABLE IF EXISTS `ct_zone_deserte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ct_zone_deserte` (
  `id` int NOT NULL AUTO_INCREMENT,
  `zd_libelle` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_B5901664B6D294C2` (`zd_libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ct_zone_deserte`
--

LOCK TABLES `ct_zone_deserte` WRITE;
/*!40000 ALTER TABLE `ct_zone_deserte` DISABLE KEYS */;
INSERT INTO `ct_zone_deserte` VALUES (2,'CSUB'),(1,'CU'),(4,'NA'),(3,'REG');
/*!40000 ALTER TABLE `ct_zone_deserte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) COLLATE utf8mb3_unicode_ci NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES ('DoctrineMigrations\\Version20230414072931','2023-04-14 09:29:39',68);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messenger_messages`
--

DROP TABLE IF EXISTS `messenger_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messenger_messages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `body` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `headers` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `queue_name` varchar(190) COLLATE utf8mb3_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  `available_at` datetime NOT NULL,
  `delivered_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_75EA56E0FB7336F0` (`queue_name`),
  KEY `IDX_75EA56E0E3BD61CE` (`available_at`),
  KEY `IDX_75EA56E016BA31DB` (`delivered_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messenger_messages`
--

LOCK TABLES `messenger_messages` WRITE;
/*!40000 ALTER TABLE `messenger_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messenger_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reset_password_request`
--

DROP TABLE IF EXISTS `reset_password_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reset_password_request` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `selector` varchar(20) COLLATE utf8mb3_unicode_ci NOT NULL,
  `hashed_token` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `requested_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `expires_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_7CE748AA76ED395` (`user_id`),
  CONSTRAINT `FK_7CE748AA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reset_password_request`
--

LOCK TABLES `reset_password_request` WRITE;
/*!40000 ALTER TABLE `reset_password_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `reset_password_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(180) COLLATE utf8mb3_unicode_ci NOT NULL,
  `roles` json NOT NULL,
  `password` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `usrnamecomplet` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `userfonction` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `usermail` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `actived` tinyint(1) NOT NULL,
  `useradresse` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `userphone` varchar(45) COLLATE utf8mb3_unicode_ci NOT NULL,
  `userpresence` tinyint(1) NOT NULL,
  `user_created_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `user_updated_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `last_login` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `user_is_connected` smallint DEFAULT NULL,
  `ct_centre_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_8D93D649F85E0677` (`username`),
  KEY `IDX_8D93D64982C8474E` (`ct_centre_id`),
  CONSTRAINT `FK_8D93D64982C8474E` FOREIGN KEY (`ct_centre_id`) REFERENCES `ct_centre` (`id`),
  CONSTRAINT `user_chk_1` CHECK (json_valid(`roles`))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-06-02 15:38:38
