<form method="post" action="{{ path('app_ct_type_usage_delete', {'id': ct_type_usage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_type_usage.id) }}">
    <button class="btn">Delete</button>
</form>
