<form method="post" action="{{ path('be_delete', {'id': ct_bordereau.id}) }}" onsubmit="return confirm('Est-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_bordereau.id) }}">
    <button class="btn btn-sm bg-gradient-danger text-white btn-icon-split ml-2 mr-2" title="Supprimer le bordereau">
        <span class="icon text-white-50">
            <i class="fa fa-trash"></i>
        </span>
        <span class="text">Supprimer le bordereau</span>
    </button>
</form>
