<form method="post" action="{{ path('edb_delete', {'id': ct_expression_besoin.id}) }}" onsubmit="return confirm('Est-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_expression_besoin.id) }}">
    <button class="btn btn-sm btn-danger btn-icon-split ml-2 mr-2">
        <span class="icon text-white-50">
            <i class="fa fa-trash"></i>
        </span>
        <span class="text">Supprimer l'imprimé de l'EDB</span>
    </button>
</form>
