<form method="post" action="{{ path('cad_type_delete', {'id': ct_const_av_ded_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_const_av_ded_type.id) }}">
    <button class="btn btn-sm btn-danger btn-icon-split ml-2 mr-2">
        <span class="icon text-white-50">
            <i class="fa fa-trash"></i>
        </span>
        <span class="text">Supprimer le type de constatation</span>
    </button>
</form>
