<form method="post" action="{{ path('ct_gc_delete', {'id': ct_genre_categorie.id}) }}" onsubmit="return confirm('Est-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_genre_categorie.id) }}">
    <button class="btn btn-sm btn-danger btn-icon-split ml-2 mr-2">
        <span class="icon text-white-50">
            <i class="fa fa-trash"></i>
        </span>
        <span class="text">Supprimer la catégorie de genre</span>
    </button>
</form>
