<form method="post" action="{{ path('tp_drt_ptac_delete', {'id': ct_type_droit_ptac.id}) }}" onsubmit="return confirm('Est-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_type_droit_ptac.id) }}">
    <button class="btn btn-sm btn-danger btn-icon-split ml-2 mr-2">
        <span class="icon text-white-50">
            <i class="fa fa-trash"></i>
        </span>
        <span class="text">Supprimer un type droit PTAC</span>
    </button>
</form>